
.tab_link {
  display: block;
  padding-block: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
  color: #FFF;
  border-bottom: 2px solid rgba(171, 255, 255, 0.4);
  backdrop-filter: blur(8px) invert(10%);
  transition: 0.3s ease;
}

.tab_link:hover {
  cursor: pointer;
  backdrop-filter: blur(8px) invert(20%);
}