
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  max-width: 42px;
  text-transform: uppercase;
  width: 100%;
  border: 0.01rem solid #171717;
  color: #171717;
  background-color: rgba(240, 255, 255, 0.5);
  backdrop-filter: blur(8px) invert(10%);
  transition: 0.3s ease;
}

.settings:hover {
  cursor: pointer;
  backdrop-filter: blur(60px) invert(10%);
  background-color: rgba(240, 255, 255, 1);
}

.settings svg {
  width: 100%;
  height: 100%;
}

.window {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: scroll;

  width: 100%;
  height: 100%;

}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  border-bottom: 1px solid #171717;
}

.section:last-child {
  border-bottom: none;
}

.sectionTitle {
  text-transform: capitalize;
}

.sectionTabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}

.tab {
  background-color: rgba(240, 255, 255, 1);
  padding: 8px;
  border-radius: 8px;
  min-width: 40px;
  cursor: pointer;
}

.newTabInput {

}